{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomeHunt</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="nav">
      <div class="logo">HomeHunt</div>
      <div class="links">
        <a href="">Login</a>
        <a href="">Signup</a>
      </div>
    </div>
    <div>
      <div class="s-box">
        <input type="text" placeholder="Seach Properties" />
        <button>search</button>
      </div>
      <p>Listings will Be Here</p>
    </div>
    <div>contact Form</div>
    <div>fill the page Completely</div>
  </body>
</html>
