{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomeHunt</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="nav">
      <div class="logo">HomeHunt</div>
      <div class="links">
        <a href="">Login</a>
        <a href="">Signup</a>
      </div>
    </div>
    <div>
      <div class="s-box">
        <input type="text" placeholder="Seach Properties" />
        <button>search</button>
      </div>
      <p>Listings will Be Here</p>
      <div class="props">
        {% for prop in properties %}
        <div class="individual-props">
          {% if prop.image %}
          <img src="{{ prop.image.url }}" alt="Property image" />
          {% endif %}

          <div class="prop-info">
            <div class="prop-text">
              <h2>{{ prop.name }}</h2>
              <h3>{{ prop.location }}</h3>
            </div>

            <a href="{% url 'property_detail' prop.id %}" class="view-btn"
              >View</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div>contact Form</div>
    <div>fill the page Completely</div>
  </body>
</html>
